<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>:::: CADASTRO DE Turmas::::</title>
</head>
<body>

	<h1>Cadastro de Turmas</h1>
	<form action="ControleTurma" method="post">		
		<br />
		<br />
		<br />
		<label for="txtCurso">Nome da turma:</label>
		<input type="text" id="txtCurso" name="txtCurso"/>
		<br />
		
		<label for="txtTurno">Curso da turma: </label>
		<input type="text" id="txtTurno" name="txtTurno"/>
		
		<br />
		<br />
		<br />
		
		
		<input type="submit" id="salvarTurma" value="Salvar turma"/>
	
	</form>
</body>
</html>